# SBT
boot/
lib_managed/
target/
.history

# Eclipse
.cache
.classpath
.project
.classpath_nb
.scala_dependencies
.settings
.target/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# TextMate
*.tmproj

# Mac
.DS_Store
