language: scala
cache:
  directories:
    - $HOME/.ivy2
script:
  - sbt "++${TRAVIS_SCALA_VERSION}" "^^${SBT_VERSION}" test scripted
matrix:
  include:
  - env: SBT_VERSION="0.13.16"
    jdk: oraclejdk7
    scala: 2.10.6
  - env: SBT_VERSION="1.0.0"
    jdk: oraclejdk8
    scala: 2.12.3
